
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

#map_canvas {
    position:absolute;
    top:0; right:0;
    bottom:0; left:0;
}

#map_canvas1 {
    position:absolute;
    top:0; right:0;
    bottom:0; left:0;
}