
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

#map_canvas {
    position:absolute;
    top:0; right:0;
    bottom:0; left:0;
}

#map_canvas1 {
    position:absolute;
    top:0; right:0;
    bottom:0; left:0;
}

ul {
    list-style-type: none;
}

.galleryChurch li {
    display: inline;
    float: left;
    padding: 10px;
}

#listMenuReadings {
    right: 0; left: 0;
    top: 5px;
    width: 100%; height: 125px; position: absolute;
    background-image: url("../img/readings.png");
    background-size: 100%;
    border-width: thin;
    border-style: solid; border-color: #828282;
    text-align: center;
    font-size: 25px;
    line-height: 125px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000000;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#listMenuChurches {
    right: 0; left: 0;
    top: 131px;
    width: 100%; height: 125px; position: absolute;
    background-image: url("../img/church.png");
    background-size: 100%;
    border-width: thin;
    border-style: solid; border-color: #828282;
    text-align: center;
    font-size: 25px;
    line-height: 125px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000000;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#listMenuMap {
    right: 0; left: 0;
    top: 256px;
    width: 100%; height: 125px; position: absolute;
    background-image: url("../img/map.png");
    background-size: 100%;
    border-width: thin;
    border-style: solid; border-color: #828282;
    text-align: center;
    font-size: 25px;
    line-height: 125px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000000;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#listMenuMass {
    right: 0; left: 0;
    top: 381px;
    width: 100%; height: 125px; position: absolute;
    background-image: url("../img/mass.png");
    background-size: 100%;
    border-width: thin;
    border-style: solid; border-color: #828282;
    text-align: center;
    font-size: 25px;
    line-height: 125px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000000;
    text-shadow: 1px 1px 1px #FFFFFF;
}


#listMenuPicture {
    right: 0; left: 0;
    top: 506px;
    width: 100%; height: 125px; position: absolute;
    background-image: url("../img/picture.png");
    background-size: 100%;
    border-width: thin;
    border-style: solid; border-color: #828282;
    text-align: center;
    font-size: 25px;
    line-height: 125px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000000;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#listMenuAbout {
    right: 0; left: 0;
    top: 631px;
    width: 100%; height: 125px; position: absolute;
    background-image: url("../img/about.png");
    background-size: 100%;
    border-width: thin;
    border-style: solid; border-color: #828282;
    text-align: center;
    font-size: 25px;
    line-height: 125px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000000;
    text-shadow: 1px 1px 1px #FFFFFF;
}

